/* media-queries */
@media(max-width: 1200px){
    html{
        font-size: 55%; 
    }
}

@media(max-width: 991px){
    .header-1,
    .header-2{
        padding: 2rem;
    }

    .slider{
        padding: 2rem;
    }

    .product .box-container .box{
        flex: 1 1 30rem;
    }
}

@media(max-width: 768px){
    #menu-bar{
        display: initial;
    }

    .header-2 .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        padding: 1rem 2rem;
        display: none;
    }

    .header-2 .navbar.active{
        display: block;
    }

    .header-2 .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: #fff;
        padding: 1rem;
        margin: 1.5rem 0;
    }

    .slider .content{
        text-align: center;
    }

    .slider .content h3{
        font-size: 4rem;
    }

}

@media(max-width: 560px){
    .falsh-sales .sales-heading{
        display: block;
    }

    .falsh-sales .count-down {
        justify-content: center;
        padding-top: 0;
    }
}

@media(max-width: 450px){
    html{
        font-size: 50%; 
    }

    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }
    .logo{
        font-size: 4rem;
    }
}